body {
  font-family: "Indie Flower", cursive;
  display: flex;
  justify-content: center;
}
h1 {
}
td#OtherMonth {
  background: #ffff00;
}

td#CurMonth {
  background: #00ff00;
  cursor: pointer;
}

#LeftArrow,
#RightArrow {
  cursor: pointer;
  color: #fff;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}
#LeftArrow:hover,
#RightArrow:hover {
  color: #3498db;
}

table {
  border-style: 1px solid;
  /*border-collapse: collapse;*/
  border-radius: 5px;
}
table,
th,
td {
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
  background: deepskyblue;
  cursor: default;
  background-color: #e600e6;
}
